<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <input type="text" id="dishes_id" name="dishes_id" placeholder="Dishes" class="form-control" value="<%= @favorite.dishes_id %>">
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <input type="text" id="venue_id" name="venue_id" placeholder="Venue" class="form-control" value="<%= @favorite.venue_id %>">
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

        <input type="text" id="cuisine_id" name="cuisine_id" placeholder="Cuisine" class="form-control" value="<%= @favorite.cuisine_id %>">
      </div>

      <button class="btn btn-success">
        Create Favorite
      </button>
      or
      <a href="/favorites">Cancel</a>
    </form>
  </div>
</div>
