<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @favorite.user.present? %>
          <a href="/users/<%= @favorite.user_id %>">
            <%= @favorite.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Dishes</dt>
      <dd>
        <% if @favorite.dishes.present? %>
          <a href="/dishes/<%= @favorite.dishes_id %>">
            <%= @favorite.dishes.name %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @favorite.venue.present? %>
          <a href="/venues/<%= @favorite.venue_id %>">
            <%= @favorite.venue.name %>
          </a>
        <% end %>
      </dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @favorite.cuisine.present? %>
          <a href="/cuisines/<%= @favorite.cuisine_id %>">
            <%= @favorite.cuisine.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @favorite.user %>
        <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
